

/*Sets the width of the overall page container div
to 90% of viewport width and margin:auto centers the page
in the middle of the browser no matter how wide you stretch the browser*/
.pagecontainer {
  margin: auto;
  width: 90vw;
  background: radial-gradient(skyblue, green);
}

header {
  background-image: url("header2.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 2rem;
  text-align: center;
  height: 400px;

}
/*List-style-type:none removes list bullet points. Webkit declaration
removes the browser's additional padding */
nav ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
}
/*Sets background color of nav list elements and their width and height*/
nav ul li {
  background: #4aa6e8;
  height: 3rem;
  width: 100%;
  padding-top: 1rem;
  border-color: black;
  border: solid;
  border-width: 1px;
  text-align: center;
}
/*Takes away the default underlining of links and sets color of menu font*/
nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: blue;
}
/*Active psuedoclass is used so When you click on a menu item it turns orange.*/
nav ul li:active {
  background: #d82fe9;
}
/*This class should be applied to html differently on each page to let user know
which page you are on--in this case the home page*/
.locationmarker {
  background: #4fe5fa;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem;
}

article img {
  width: 70%;
  border-style: solid;
  border: 1px;
}
article {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 30rem;
}

footer {
  background: #97eca2;
  padding: 2rem;
  text-align: center;
}

footer img {
  width: 40%;
}
/*****Typography*******/
body {
color: #11228b;
font-family: 'Scope One', serif;
font-size: 1.5em;
}

h1 {
  color: rgba(0, 50, 235, 0.7);
  font-size: 3em;
  font-family: 'Fredericka the Great', Charcoal, sans-serif;
  letter-spacing: .03em;
}

h2 {
  font-size: 1.7em;
}

/*****Responsive for Larger Screens*******/
@media only screen and (min-width: 900px)  {
/*sets the header image to full screen width*/
  header {
    background-size: 100% auto;
  }

  /*sets the nav bar with flex box to be horizontal if enough width*/
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*sets width of nav list items*/
  nav ul li {
    width: 20rem;
}
}
