


.pagecontainer {
  background: #77f193;
  margin: auto;
  width: 90vw;
  background-image: radial-gradient(white, lightpink);
}

header {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2rem;
  text-align: center;
  height: 400px;

}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  -webkit-padding-start: 0px;
}
/*Sets background color of nav list elements and their width and height*/
nav ul li {
  background: #4aa6e8;
  height: 3rem;
  padding-top: 1rem;
  border-color: black;
  border: solid;
  border-width: 1px;
  text-align: center;
}
/*Takes away the default underlining of links and sets color of menu font*/
nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: blue;
}

nav ul li:active {
  background: #d82fe9;
}

.locationmarker {
  background: darkgreen;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem;
}

title {
color: black;
font-family: 'Fredericka the Great', sans-serif;
font-size: 1.5em;
}

article img {
  width: 30vw;
  border-style: solid;
  border: 1px;
}
article {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 30rem;
}

footer {
  background: #97eca2;
  padding: 2rem;
  text-align: center;
}

footer img {
  width: 10vw;
}

body {
color: #11228b;
font-family: 'Scope One', serif;
font-size: 1.5em;
}

h1 {
  color: rgba(0, 50, 235, 0.7);
  font-size: 4em;
  font-family: 'Fredericka the Great', Charcoal, sans-serif;
  letter-spacing: .03em;
}

h2 {
  font-size: 1.7em;
}
